{% extends "__layout.html" %}
{% block content %}
<img src="/static/logo.jpg" class="scaleimg" alt="не найдено">
<figcaption class="name1"><div><a href="https://www.dota2.com/home">(Официальный сайт игры)</a></div></figcaption>
<div class="name3">
    <ul>
        <li id="dota2"><b>Dota 2</b> — многопользовательская командная компьютерная игра в жанре <a href="/glossary#MOBA"><b>MOBA</b></a>, разработанная и изданная корпорацией <b>Valve</b>.</li>

        <li id="MOBA"><b>MOBA</b> — Multiplayer Online Battle Arena (Многопользовательская онлайн-боевая арена) жанр компьютерных игр, сочетающий в себе элементы стратегий в реальном времени и компьютерных ролевых игр</li>

        <li id="smskill1"><b>Запутывающий Шар (Arcane Bolt):</b> Магический снаряд, брошенный Skywrath Mage, который наносит урон врагу, зависящий от его запаса маны. Этот проектайл становится ключевым в арсенале героя для точного поражения противников.</li>

        <li id="smskill2"><b>Конвокация Пустоты (Concussive Shot):</b> Способность, позволяющая Skywrath Mage вызывать волну удара, замедляющую и повреждающую врагов в зоне поражения. Эффективное средство для контроля над полем битвы и ограничения движения вражеских отрядов.</li>

        <li id="smskill3"><b>Пламя Небес (Ancient Seal):</b> Магическое заклинание, которое налагает печать на врага, увеличивая урон от магии и снижая его сопротивление. Эта способность делает Skywrath Mage мощным магическим убийцей, способным справиться с самыми стойкими врагами.</li>

        <li id="smultimate"><b>Мистический Зверь (Mystic Flare):</b> Эпическое заклинание, призывающее огненные небеса для нанесения огромного урона в целевой области. "Мистический Зверь" — это разрушительная способность, способная переломить ход боя и заставить врагов поклониться небесам.</li>

        <li id="wdskill1"><b>Смертоносный Паралич (Paralyzing Cask):</b> Witch Doctor бросает проклятой вуду-бомбой, отскакивающей между врагами и вызывающей временный паралич. Это позволяет Witch Doctor контролировать течение сражения, оставляя врагов беспомощными перед его силой.</li>

        <li id="wdskill2"><b>Вуду-восстановление (Voodoo Restoration):</b> Способность, превращающая Witch Doctor в живой фонтан энергии, исцеляющий союзников вокруг. Этот врачебный жезл делает Witch Doctor неотъемлемым союзником, поддерживая команду в боях.</li>

        <li id="wdskill3"><b>Заклинание Смерти (Maledict):</b> Witch Doctor налагает проклятье на врага, усиливая урон от получаемых повреждений. Это коварное заклинание делает Witch Doctor опасным противником, который преследует даже самых выносливых врагов.</li>

        <li id="wdultimate"><b>Смертоносный Данс (Death Ward):</b> Witch Doctor вызывает колесо смерти, стреляющее во врагов. "Смертоносный Данс" создает неотвратимую угрозу, разлетаясь смертоносными снарядами и доминируя в битве.</li>

        <li id="zskill1"><b>Запятнанный Молнией (Arc Lightning):</b> Зевс высвобождает молнии, ударяя в ближайших врагов. Этот эффективный и мгновенный проектайл является основной атакой Зевса в ранней фазе игры, позволяя ему маневрировать на поле битвы.</li>

        <li id="zskill2"><b>Молниеносный Удар (Lightning Bolt):</b> Зевс метит свою цель молнией, нанося урон и раскрывая видимость врагов. "Молниеносный Удар" становится инструментом для точного уничтожения врагов и обеспечения контроля над полем битвы.</li>

        <li id="zskill3"><b>Небесный прыжок (Heavenly jump):</b> Способность Зевса, вызывающая молниеносный разряд, позволяющее ему пересекать пространство со сверхъестественной скоростью. С этой уникальной способностью Зевс становится еще более непредсказуемым и опасным на поле битвы..</li>

        <li id="zultimate"><b>Гнев Небес (Wrath of the Thundergod):</b> Эпическая способность, где Зевс призывает гнев небес, нанося урон всем врагам в радиусе действия. "Гнев Небес" — это последнее слово Зевса в битве, привносящее разрушение и смерть врагам.</li>
    </ul>
</div>
{% endblock %}