{% extends "__layout.html" %}
{% block content %}
<h1 class="name1">Три моих любимых героя в игре Dota 2</h1>
    <div class="row mb-2">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <figure>
                    <img src="/static/zeus/logo.jpg" class="d-block w-100 image" alt="не найдено" >
                    <figcaption class="name1"><div><a href="/zeus">Zeus</a></div></figcaption>
                </figure>
              </div>
              <div class="carousel-item">
                <figure>
                    <img src="/static/sm/logo.jpg" class="d-block w-100 image" alt="не найдено" >
                    <figcaption class="name1"><div><a href="/skywrath_mage">Skywrath Mage</a></div></figcaption>
                </figure>
              </div>
              <div class="carousel-item">
                <figure>
                    <img src="/static/wd/logo.jpg" class="d-block w-100 image" alt="не найдено" >
                    <figcaption class="name1"><div><a href="/witch_doctor">Witch Doctor</a></div></figcaption>
                </figure>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="name1">
        Добро пожаловать на наш увлекательный ресурс, посвященный трём непревзойденным героям <a href="/glossary#dota2">Dota 2</a> - <a href="/zeus">"Зевсу"</a>, <a href="/witch_doctor">"Доктору Вуду"</a> и <a href="/skywrath_mage">"Небесному Волшебнику"!</a> Эти могущественные персонажи приносят в игру не только свою силу, но и неповторимый характер, создавая невероятные моменты и захватывающие битвы.
    </div>
    <h1 class="name1">Погрузись в мир эпических сражений:</h1>
    <div class="name1">
        <ul>
            <li><a href="/zeus">Зевс</a>, Владыка Олимпа:
Поднимись на вершину горы Олимп и познай мощь молний вместе с Зевсом. На его странице ты найдешь не только описание могущественных способностей бога, но и рекомендации по тому, как использовать их на поле битвы. Открой для себя секреты исключительного мастерства владыки молний.</li>
            <li><a href="/witch_doctor">Доктор Вуду</a>, Мастер Лечения:
С удовольствием представляем тебе Доктора Вуду - врача, чей арсенал не только лечит союзников, но и наносит страх в сердца врагов. Узнай, как сделать свою команду неуязвимой с помощью чудесных зелий и темного вуду.</li>

            <li><a href="/skywrath_mage">Небесный Волшебник</a>, Сторож Секретов:
Встречай Небесного Волшебника, чья страсть к магии безгранична. Его волшебные стрелы и проклятия станут твоими надежными союзниками в борьбе за победу. Исследуй стратегии использования каждой из его удивительных способностей и овладей искусством контроля над врагами.</li>
    </div>
    <div class="name1">
    Наши страницы героев призваны подарить тебе увлекательные истории, полезные советы и вдохновляющие материалы о твоих любимых персонажах. Погружайся в их мир, учись и вдохновляйся – ведь настоящие герои создают легенды!</div>
{% endblock %}
