{% extends "__layout.html" %}
{% block content %}
<img src="/static/sm/logo2.png" class="scaleimg" alt="не найдено">
<figcaption class="name1"><div>Skywrath Mage - Хранитель Небесных Тайн в Dota 2</div></figcaption>
    <div class="name1">
        Skywrath Mage, воплощение страсти к магии и небесной мощи. Его искусство заключается в воздушных заклинаниях и беспощадных атаках, прокладывая путь к победе для тех, кто осмелится вызвать его силы.
    </div>
    <div class="name1">
        <ul>
            <img src="/static/sm/skill1.gif" class="scalegif" alt="не найдено">
            <figcaption class="name2"><div>1. <a href="/glossary#smskill1">Запутывающий Шар (Arcane Bolt)</a></div></figcaption>
            <li>Способность Skywrath Mage бросает в врага могучий "Запутывающий Шар", нанося урон в зависимости от максимального запаса маны цели. Этот меткий и быстрый снаряд становится основным инструментом Skywrath Mage для преследования и искоренения врагов.</li>
            <img src="/static/sm/skill2.gif" class="scalegif" alt="не найдено">
            <figcaption class="name2"><div>2. <a href="/glossary#smskill2">Конвокация Пустоты (Concussive Shot)</a></div></figcaption>
            <li>"Конвокация Пустоты" позволяет Skywrath Mage призывать силу воздуха, создавая ударную волну, замедляющую и наносящую урон врагам в зоне поражения. Эта способность поддерживает его контроль над полем битвы, позволяя союзникам более свободно маневрировать.</li>
            <img src="/static/sm/skill3.gif" class="scalegif" alt="не найдено">
            <figcaption class="name2"><div>3. <a href="/glossary#smskill3">Пламя Небес (Ancient Seal)</a></div></figcaption>
            <li>С "Пламенем Небес" Skywrath Mage налагает магическую печать на врага, увеличивая урон от магии и снижая его сопротивление. Это превращает его в невероятно эффективного магического убийцу, готового сразиться с даже самыми стойкими заклинателями.</li>
            <img src="/static/sm/ultimate.gif" class="scalegif" alt="не найдено">
            <figcaption class="name2"><div>4. <a href="/glossary#smultimate">Мистический Зверь (Mystic Flare)</a></div></figcaption>
            <li>Самая могущественная способность Skywrath Mage — "Мистический Зверь", где он призывает огненные небеса для непревзойденного урона в выбранной области. Это разрушительное заклинание сокрушает прот</li>
    </div>
    <div class="name1">
        Skywrath Mage — это герой, чья страсть к магии и небесной мощи проливается в каждом его действии. Он остается невероятно опасным врагом на поле битвы Dota 2, подчеркивая свою могучую сущность в каждом поражении.
    </div>
{% endblock %}sm