{% extends "__layout.html" %}
{% block content %}
<img src="/static/wd/logo2.png" class="scaleimg" alt="не найдено">
<figcaption class="name1"><div>Witch Doctor - Танец Смерти в Dota 2</div></figcaption>
    <div class="name1">
      Witch Doctor, харизматичный заклинатель и врач, чьи исцеляющие зелья переплетаются с чарами смерти. Его мудрость в борьбе со злом и магией проявляется в уникальных способностях, среди которых особое место занимает его разрушительный "Танец Смерти".
    </div>
    <div class="name1">
        <ul>
            <img src="/static/wd/skill1.gif" class="scalegif" alt="не найдено">
            <figcaption class="name2"><div>1. <a href="/glossary#wdskill1">Парализующий Коктейль (Paralyzing Cask)</a></div></figcaption>
            <li>Witch Doctor мастерски метет врагов своим "Смертоносным параличом". Этот колдовской предмет, брошенный в толпу врагов, отскакивает между ними, создавая характерный ритм. В мгновение ока враги оказываются парализованными, поддаваясь силе этого магического танца.</li>
            <img src="/static/wd/skill2.gif" class="scalegif" alt="не найдено">
            <figcaption class="name2"><div>2. <a href="/glossary#wdskill2">Вуду-восстановление (Voodoo Restoration)</a></div></figcaption>
            <li>Способность "Вуду-восстановление" превращает Witch Doctor в живой фонтан энергии, исцеляя союзников вокруг. Этот врачебный жезл позволяет ему поддерживать свою команду в самых беспокойных моментах битвы, делая его ценным союзником в групповых сражениях.</li>
            <img src="/static/wd/skill3.gif" class="scalegif" alt="не найдено">
            <figcaption class="name2"><div>3. <a href="/glossary#wdskill3">Заклинание смерти (Maledict)</a></div></figcaption>
            <li>"Заклинание смерти" Witch Doctor накладывает проклятье на врага, предрекая ему судьбу. С течением времени проклятье усиливается, нанося серьезный урон цели в зависимости от уже полученных повреждений. Эта коварная способность делает Witch Doctor опасным оппонентом даже для самых выносливых противников.</li>
            <img src="/static/wd/ultimate.gif" class="scalegif" alt="не найдено">
            <figcaption class="name2"><div>4. <a href="/glossary#wdultimate">Смертоносный Данс (Death Ward)</a></div></figcaption>
            <li>Вишенкой на торте является "Смертоносный Данс" - подвижная истребительница врагов, стреляющая в них смертоносными снарядами. Этот древний артефакт служит Witch Doctor в сражениях, создавая невообразимое давление на врагов и разлетаясь по полю битвы.</li>
    </div>
    <div class="name1">
        Witch Doctor — это не просто врач, а истинный хозяин темных тайн, смешивающий свои исцеляющие способности с магией смерти. Его странный танец становится балладой на полях сражений, прокладывая путь к победе в самых зловещих моментах Dota 2.
    </div>
{% endblock %}