{% extends "__layout.html" %}
{% block content %}
<div class="name3">
    <img src="/static/me.png" class="about_me_img" alt="не найдено">
    <figcaption class="about_me_text"><div>Личная фотография</div></figcaption>
    <ul>
        <li>ФИО: Власов Максим Сергеевич</li>
        <li>Группа: ИСТб-23-1</li>
        <li>Окончил: МБОУ СОШ №11 г. Иркутска в 2023 году</li>
        <li>e-mail: 3kavos@gmail.com</li>
        <li>Дата рождения: 09.05.2005</li>
    </ul>
</div>

{% endblock %}